@import url(reset.css);

body {
    flex-flow: column nowrap;
    width: 100vw;
    height: auto;
    background-image: url(Media/fond_vin.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: 2;
}
header{
    width: 100vw;
    height: 10vh;
    background: white;
    z-index: 1;
}
menu {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
}
a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a:hover {
    transform: scale(1.2);
}
main {
    margin-top: 20%;
    width: 100vw;
    height: 100vh;
    background: white;
}
img[src="Media/vignoble.jpeg"] {
    position: absolute;
    top: 80%;
    left: 10%;
    height: 50vh;
}
img[src="Media/vignoble2.jpg"] {
    position: absolute;
    top: 80%;
    right: 10%;
    height: 50vh;
}
figcaption {
    position: relative;
    top: 5%;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
aside {
    margin-top: 40%;
    width: 100vw;
    height: 100vh;
    background: white;
}
img[src="Media/vin collection.jpg"] {
    position: absolute;
    height: 50vh;
    top: 270%;
    left: 3%;
}
img[src="Media/vin bleu.jpeg"] {
    position: absolute;
    height: 50vh;
    top: 270%;
    right: 3%;
}
h1 {
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2 {
    position: relative;
    top: 80%;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}